extends template

block content
    h4 Lost?
    p 
        | Must have taken a wrong exit somewhere? Go back to the 
        a(href="/") homepage 
        |  and check back again using the routes provided.