extends ../shared/template.pug

block content
    h4 About this container
    p 
        | This container is a test container created by 
        a(href="https://www.facebook.com/afzaal.ahmad.zeeshan", target="_blank") Afzaal Ahmad Zeeshan
        |  to try out Docker and Kubernetes on the Azure platform. 

    p 
        | You are more than welcome to use it for the demo purposes, but 
        b please
        |  avoid using it for production uses, and also no need to consider it as a parent image for your projects. 