extends ../shared/template.pug

block content
    h4 Home Page
    p 
        | Technically contacting doesn't make sense to me. You can check the 
        a(href="https://github.com/afzaal-ahmad-zeeshan/nodejs-dockerized") GitHub repository 
        |  for this sample code. 

    p 
        | Since the focus for this project was on the Dockerization, the repository for which is available on 
        a(href="https://hub.docker.com/r/afzaalahmadzeeshan/express-nodejs/") Docker Hub
        |  and you can capture the image and try it out from there too! 

    p 
        | If you still are stubborn enough to want to each out, consider tweeting 
        a(href="https://twitter.com/afzaalvirgoboy") @afzaalvirgoboy
        |  and you just 
        i might 
        |  have my attention. 